#o{
    background-color: orange;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    padding: 50px 50px 50px 50px;
}
#i{
    background-color: green;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    margin: 5px 25px 25px 10px;
}
#do{
    background-color: chocolate;
    height: 200px;
    width: 200px;
    border-radius: 500px;
    margin-top: 50px;
    padding: 20px 20px 20px 20px;
    border: solid;
    outline: 5px gold dashed;

}
#di{
    background-color: rgba(7, 119, 50, 0.562);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 10px 10px 10px 50px;
    border: dashed;
    outline: gold dashed;
}